<div class="search-page" fxLayout="column" fxLayoutAlign="start center">

  <mat-card>
    <form [formGroup]="formSearch" (ngSubmit)="submit()" novalidate>

      <div class="head-form" fxLayoutAlign="space-between center">
        <h2 fxLayoutAlign="start center"><mat-icon>light_mode</mat-icon> World Weather</h2>
        <!-- Select Language-->
        <mat-form-field appearance="fill">
          <mat-label fxLayoutAlign="start center"><mat-icon>public</mat-icon> <span class="ml-1">Choose a language</span></mat-label>
          <mat-select formControlName="language" [compareWith]="compareLanguage">
            <mat-option *ngFor="let language of languages" [value]="language.value">
              {{language.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <hr>

      <div class="form-search" fxLayoutAlign="space-between space-between">
        <!-- Input Search-->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label fxLayoutAlign="start center"> <mat-icon>apartment</mat-icon> <span class="ml-1">City</span></mat-label>
          <input matInput
                 formControlName="searchCity"
                 aria-label="State"
                 [matAutocomplete]="auto"
                 [formControl]="cityCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
              <strong>{{city.country}}</strong> -
              <span>{{city.name}}</span> |
              <small>lon: {{city.coord?.lon}} - lat: {{city.coord?.lat}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label fxLayoutAlign="start center"><mat-icon>public</mat-icon> <span class="ml-1">Unit of Temperature</span></mat-label>
          <mat-select formControlName="temp" [compareWith]="compareUnits" >
            <mat-option *ngFor="let unit of units" [value]="unit.value">
              {{unit.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <button mat-raised-button color="primary"><mat-icon>travel_explore</mat-icon></button>
    </form>
  </mat-card>


  <div class="search-history">
    <h2>The last search</h2>
    <hr>
    <div fxLayoutAlign="center center">
      <app-the-last-search></app-the-last-search>
    </div>
  </div>
</div>


